<nav style="z-index: 100; position: fixed; top: 1%; right: .5%;">
  <input type="checkbox" id="active" />
  <label for="active" class="menu-btn">&#10761;</label>
  <div class="wrapper">
    <ul>
      <li class="navLink"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="navLink"><a href="{{ site.baseurl }}/pages/about/about.html">About Us</a></li>
      <li class="navLink"><a href="{{ site.baseurl }}/pages/japanWeek/japanWeek.html">Japan Week</a></li>
      <li class="navLink"><a href="#">Scholarship and Research Grant</a></li>
      <li class="navLink"><a href="#">Activity Highlights</a></li>
      <li class="navLink"><a href="#">Useful Links</a></li>
      <li class="navLink"><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
